<div class="editor-container">
    <!-----------------menu bar-------------------->
    <ul class="menu-bar">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-file" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                File
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-file">
                <li><a ng-click="addTab()">New model</a></li>
                <li><input type="file" id="file-upload" nv-file-select="" uploader="uploader" autoUpload="true"/></li>
                <li><input type="file" id="files" ng-model="files" onchange="angular.element(this).scope().uploadFile(files)"/></li>
                <label for="files" class="custom-file-upload">Import file</label>
                <li><a href="#">Download file</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Edit
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-edit">
                <li><a href="#">Undo</a></li>
                <li><a href="#">Copy</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-view" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                View
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-view">
                <li><a href="#">Output window</a></li>
                <li><a href="#">Edit window</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Tools
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-tools">
                <li><a href="#">Check grammar</a></li>
                <li><a href="#">Verification</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-examples" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Examples
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-examples">
                <li><a href="#"> </a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-windows" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Windows
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-windows">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Help
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-help">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <span class="splitter"></span>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Check Grammar" ng-click="checkGrammar()"><img src="../view/pic/check_icon.png"/></a>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Simulation"><img src="../view/pic/simulation_icon.png"/></a>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Verfication" href="#/verifier" ng-click="verification()"><img src="../view/pic/verification_icon.png"/></a>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Graph Differences"><img src="../view/pic/graph_icon.png"/></a>
    </ul>

    <!----------------------- tabs-------------------->

    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.title)}" >
            <a ng-click="onClickTab(tab)">{{tab.title}}</a><span ng-click="closeTab(tab)">x</span>
        </li>
        <li><a ng-click="addTab()">+</a></li>
    </ul>
    <div class="mainView">
        <!--include editor template-->
        <div ng-include="'editorContent'"></div>
    </div>
    <div class="output">
        <span class="output-label">output</span>
        <!-- <div style="white-space: pre-wrap;">{{grammarResult}}</div> -->
        <div ng-bind-html="grammarResult"></div>
    </div>
    <!-- <div class="progress" style="">
        <p>{{uploader.queue[0].file.name}}</p>
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
    </div> -->
</div>

template for editor
<script type="text/ng-template" id="editorContent">
    <div>
        <section ng-repeat="content in tabs" ng-show="isThisContent(content)">
            <textarea class="editor-content" ui-codemirror="content.cmOption" ng-model="content.cmModel"></textarea>
            <select class="language-selector" ng-model="mode" ng-options="m for m in modes" ng-change="changeMode(content,mode)">
            </select>
        </section>
    </div>
</script>


