<div class="editor-container" ng-init="init()">
    <!-----------------menu bar-------------------->
    <ul class="menu-bar">
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-file" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                File
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-file">
                <li><a ng-click="addTab()">New model</a></li>
                <li><input type="file" id="file-upload" nv-file-select="" uploader="uploader" autoUpload="true"/></li>
                <li><input type="file" id="files" ng-model="files" onchange="angular.element(this).scope().uploadFile(files)"/></li>
                <label for="files" class="custom-file-upload">Import file</label>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Edit
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-edit">
                <li><a href="#">Undo <span class="shortcut pull-right">Ctrl+Z</span></a></li>
                <li><a href="#">Copy <span class="shortcut pull-right">Ctrl+C</span></a></li>
                <li><a href="#">Cut <span class="shortcut pull-right">Ctrl+X</span></a></li>
                <li><a href="#">Paste <span class="shortcut pull-right">Ctrl+V</span></a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-view" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                View
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-view">
                <li><a href="#">Output window</a></li>
                <li><a href="#">Edit window</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Tools
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-tools">
                <li><a href="#" ng-click="checkGrammar()">Check grammar</a></li>
                <li><a href="#/verifier" ng-class="{'disable':notLogin}" ng-click="verification()">Verification</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-examples" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Examples
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-examples">
                <li><a ng-click="getCSPExample()">CSP</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-windows" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Windows
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-windows">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdown-help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Help
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-help">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown pull-right" style="margin-right:120px;" ng-show="!isLogin">
            <button class="dropdown-toggle" type="button" id="dropdown-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Login
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown-login" style=" width:300px;padding: 25px 25px 25px 25px;">
                <form class="form" id="formLogin">
                    <div class="form-group">
                        <input name="email" id="email" type="email" required  ng-model="user.email" class="form-control" placeholder="Email"></input>
                    </div>
                    <div class="form-group">
                        <input name="password" id="password" type="password" ng-model="user.password" class="form-control" placeholder="Password"></input>
                    </div>
                    <div ng-bind-html="loginError"></div>
                    <button type="button" id="login-btn" class="btn btn-info pull-right" ng-click="login(user)">Login</button>
                </form>
            </div>
        </div>
        <div class="pull-right" style="margin-right:120px;" ng-show="isLogin">
            <a class="logout" href="/logout" ng-click="logout()">
                Logout
            </a>
        </div>

        <span class="splitter"></span>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Check Grammar" ng-click="checkGrammar()"><img src="../view/pic/check_icon.png"/></a>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Simulation"><img src="../view/pic/simulation_icon.png"/></a>
        <a class="quick-access" ng-class="{'disable':notLogin}" data-toggle="tooltip" data-placement="bottom" title="Verfication" href="#/verifier" ng-click="verification()"><img src="../view/pic/verification_icon.png"/></a>
        <a class="quick-access" data-toggle="tooltip" data-placement="bottom" title="Graph Differences"><img src="../view/pic/graph_icon.png"/></a>
    </ul>

    <!----------------------- tabs-------------------->

    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.title)}" >
            <a ng-click="onClickTab(tab)">{{tab.title}}</a><span ng-click="closeTab(tab)">x</span>
        </li>
        <li><a ng-click="addTab()">+</a></li>
    </ul>
    <div class="mainView">
        <!--include editor template-->
        <div ng-include="'editorContent'"></div>
    </div>
    <div class="output">
        <span class="output-label">Result:</span>
        <div ng-bind-html="grammarResult"></div>
    </div>
    <div class="alert alert-danger login-alert" role="alert" ng-show="loginAlert"> You need to <strong>Login</strong> to get this service</div>
</div>

template for editor
<script type="text/ng-template" id="editorContent">
    <div>
        <section ng-repeat="content in tabs" ng-show="isThisContent(content)">
            <textarea class="editor-content" ui-codemirror="content.cmOption" ng-model="content.cmModel"></textarea>
            <select class="language-selector" ng-model="mode" ng-options="m for m in modes" ng-change="changeMode(content,mode)">
            </select>
        </section>
    </div>
</script>


