
<a href="#/" style="color:black" ng-click="backToHome()"><h3><span class="glyphicon glyphicon-chevron-left"></span>Back to Editor</h3></a>
<div class="col-sm-12 col-md-8 col-md-offset-2" style="position:relative;top:50px;">
	<div class="panel panel-default">
	  	<div class="panel-heading">
	    	<h2 class="panel-title">Verification</h2>
	  	</div>
	  	<table class="table table-hover">
			<caption> &nbsp Assertions</caption>
			<tr ng-repeat="assert in Assertions" ng-click="setAssertion(assert.assertion,$index)">
			<td>{{$index+1}}</td>
			<td>{{assert.assertion}}</td>
			<td>
			<span class="glyphicon glyphicon-ok" ng-show="isValid($index)"></span>
			<span class="glyphicon glyphicon-remove" ng-show="isInvalid($index)"></span>
			</td>
			</tr>
				
		</table>
	  	<div class="panel-body">
			
			<h4>Selected Assertion:</h4>
			<p class="selectedAssertion">{{selectedAssertion}}</p>
			<button type="button" class="btn btn-info col-sm-offset-10" ng-click="getVerifyResult()">Verify</button>
			<hr>
			
			<h4>Options</h4>
			<div class="form-group col-sm-8">
				<label for="admBehavior">Admissible Behavior:</label>
				<select class="form-control" id="admBehavior" ng-model="selectedBehavior">
				    <option ng-repeat="behavior in Behaviors" value="{{$index}}">{{behavior}}</option>
			  	</select>
			</div>
			<div class="form-group col-sm-4">
			<!-- the function for time out has not be implemented yet -->
				<label for="timeout">Time Out(minutes):</label> 
				<input type="number" class="form-control">
			</div>
			<div class="form-group col-sm-8">
				<label for="verEngine">Verification Engine:</label>
				<select class="form-control" id="verEngine" ng-model="selectedEngine">
				    <option ng-repeat="engine in Engines" value="{{$index}}">{{engine}}</option>
			  	</select>
			</div>
			 <div class="form-group col-sm-4">
			 <!-- the api has not implemented yet -->
    			<label for="trace">Generate Witness Trace</label>
      			<select class="form-control" id="trace">
				    <option>Yes</option>
				    <option>No</option>
			  	</select>
 			</div>
			<h4>Output:</h4>
			<div class="panel panel-default">
				<div class="panel-body">
						<div ng-bind-html="verificationResult"></div>
			</div>
		</div>
	</div>
</div>
