.nav-tabs{
    background-color: #262626;
    border-color:#555;
}
.editor-container {
    margin-top: -20px;
}
.nav-tabs > li {
    position:relative;
}

.nav-tabs > li > a {
    display:inline-block;
    color:#eee;
}
.nav-tabs > li:hover > a {
    background-color:#333;
    border-color:#555;
}
.nav-tabs > li.active > a{
    background-color: #555;
    color:#eee;
    border-color:#555;
}
.nav-tabs > li.active:hover >a{
    background-color: #555;
    color:#eee;
    border-color:#555;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 5px;
    top: 13px;
}

.nav-tabs > li:hover > span {
    display: inline-block;
    color:#eee;
}